*{
    margin: 0;
    padding: 0;
}
.header-style{
    height: auto;
    width: 100%;
    
}
.header-part{
    margin-top: 50px;
}
.img-size1{
    height: 50%;
    border-radius: 50%;
}

.header-btn-hire{
    background-color: rgb(247, 96, 96);
    border: none;
    color: white;
    height: 50px;
    width: 110px;
    border-radius: 40px;
    margin: 10px;
}

.header-btn-hire:hover{
    
    background-color: rgb(128, 123, 123);
    border: none;
    color: white;
    height: 50px;
    width: 110px;
    border-radius: 40px;
    margin: 10px;
}

.header-btn-cv{
    background-color: rgb(128, 123, 123);
    border: none;
    color: white;
    height: 50px;
    width: 180px;
    border-radius: 40px;
    margin: 10px;    
   
}

.header-btn-cv:hover{
    background-color: rgb(247, 96, 96);
    border: none;
    color: white;
    height: 50px;
    width: 180px;
    border-radius: 40px;
    margin: 10px;   
    
}
.social-icons{
    height: 30px;
    width: auto;
    margin: 7px;
    border-radius: 50%;
}
.text-animation{
    width: 0ch;
    overflow: hidden;
    white-space: nowrap;
    animation: text 6s steps(14) infinite alternate;
    border-right: 3px solid black;

}
@keyframes text{
    0%{
        width: 0ch;
    }
    50%{
        width: 14ch;
    }
}