.header-style{
    height: 800px;
    width: 100%;
    
}

.img-size1{
    height: 600px;
    border-radius: 400px;
}
.main-text1{
    margin-left: 200px;
    margin-top: 250px;
}
.header-btn-hire{
    background-color: rgb(247, 96, 96);
    border: none;
    color: white;
    height: 50px;
    width: 110px;
    border-radius: 40px;
}

.header-btn-hire:hover{
    
    background-color: rgb(128, 123, 123);
    border: none;
    color: white;
    height: 50px;
    width: 110px;
    border-radius: 40px;
}

.header-btn-cv{
    background-color: rgb(128, 123, 123);
    border: none;
    color: white;
    height: 50px;
    width: 180px;
    border-radius: 40px;
    
   
}

.header-btn-cv:hover{
    background-color: rgb(247, 96, 96);
    border: none;
    color: white;
    height: 50px;
    width: 180px;
    border-radius: 40px;
   
    
}
.social-icons{
    height: 30px;
    border-radius: 60px;
}