.resume-hed{
    
    
    background-color: teal;
    color: white;
    text-align: center;
}

.resume-link-btn{
    border: none;
    margin-left: 5px;
}

.header-btn-resume{
    height: 40px;
    width: 150px;
    background-color: teal ;
    border: 2px solid white;
    color: white;
}

.header-btn-resume:hover{
    height: 40px;
    width: 150px;
    background-color:black ;
    border: 2px solid white;
    color: white;
}