.footer-area{
    height: 400px;
    width: 100%;
    background-color: rgb(247, 226, 41);
}

.footer-form{
    margin-top: 100px;
}

.btn-danger-btn{
    background-color: red;
    color: white;

}

.copy-text-color{
    
}
