.skill-area{
    height: 500px;
    width: 100%;
    background-color:teal;
}

.learn-more-btn{
    background-color:teal;
    border: 2px solid white;
    color: white;
    height: 50px;
    width: 180px;
    border-radius: 10px;
    
}

.learn-more-btn:hover{
    
    background-color:white;
    border: 2px solid black;
    color: black;
    height: 50px;
    width: 180px;
    border-radius: 10px;
    
}