.skill-area{
    height: 550px;
    width: 100%;
    background-color: rgb(170, 170, 163);
}

.learn-more-btn{
    background-color: rgb(17, 13, 228);
    border: none;
    color: white;
    height: 50px;
    width: 180px;
    
}

.learn-more-btn:hover{
    background-color: rgb(21, 109, 3);
    border: none;
    color: white;
    height: 50px;
    width: 180px;
    
}