.error-text{
    color: red;
}

.send-btn{
    background-color: rgb(221, 66, 66);
    border: none;
    color: white;
    height: 50px;
    width: 180px;
    border-radius: 40px;
}
.send-btn:hover{
    background-color: green;
    border: none;
    color: white;
    height: 50px;
    width: 180px;
    border-radius: 40px;
}