.contact-me-header{
    height: 80px;
    background-color: teal;
    color: white;
    text-align: center;
}

.error-text{
    color: red;
}

.send-btn{
    background-color: rgb(221, 66, 66);
    border: none;
    color: white;
    height: 50px;
    width: 180px;
    border-radius: 40px;
}
.send-btn:hover{
    background-color: green;
    border: none;
    color: white;
    height: 50px;
    width: 180px;
    border-radius: 40px;
}

.address-me{
    margin-top: 30px;
    margin-left: 100px;   
    height: 350px;
    width: 100%;
    border: 1px solid black;
    background-color: teal;
    text-align: center;
    color: white;
}

.address-box{
    margin-top: 35px;
}